@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/core/lib/scss/variables';

body.bp3-dark {
  background: #394b59; /* #30404d;*/
}

.app-spinner {
  height: 50vh;
}

$piano-grid-size: 5px;

.midi-piano {
  > :first-child {
    margin-bottom: $piano-grid-size * 2;
  }

  .piano-key {
    display: inline-block;
    position: relative;
    z-index: 1;

    > div {
      background-color: $white;
      // border-bottom-left-radius: 5px;
      // border-bottom-right-radius: 5px;
      color: $black;
      height: $piano-grid-size * 24;
      margin-right: $piano-grid-size/2;
      width: $piano-grid-size * 3;
    }
  }

  .piano-key-sharp {
    overflow: visible;
    vertical-align: top;
    width: 0;
    z-index: 2;

    > div {
      background-color: $black;
      color: $white;
      height: $piano-grid-size * 16;
      left: $piano-grid-size * -1.5;
      position: absolute;
      top: 0;
    }
  }

  .piano-key-pressed > div {
    background-color: $pt-intent-primary;
    color: $white;
  }

  .piano-key-text {
    bottom: 5px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    font-size: 6px;
  }

  .piano-key-note {
    opacity: 0.5;
  }
}
